*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  overflow: hidden;

  font-size: 1.6rem;
}

.page-content {
  margin-left: var(--aside-width);
  padding-left: 2rem;
  width: calc(100% - var(--aside-width));
  transform: translateX(var(--aside-width));
  height: 100%;

  overflow: hidden;

  transition: all 0.2s ease-in-out;
}
.page-content-iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--main-body-color);
}

.page-content::-webkit-scrollbar {
  display: none;
}

.side-info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr 3.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;

  transition: all 0.2s ease-in-out;

  width: var(--aside-width);
  height: 100%;
}

/* MOBILE HEADER ----------------------------------- */

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: var(--mobile-header-height);
  background-color: var(--aside-color);
  color: var(--page-sidebar-font-color);

  transform: translateX(var(--aside-width));
  transition: all 0.2s ease-in-out;

  padding: 1rem 1rem;
}

.toggle-collapse-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  padding: 0.2rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.toggle-collapse-sidebar svg {
  height: 100%;
  width: 100%;

  fill: var(--page-sidebar-font-color);
  stroke: var(--page-sidebar-font-color);
}

.side-info--collapsed-left {
  transform: translateX(calc(0rem - var(--aside-width)));
}
.side-info--collapsed-right {
  transform: translateX(0);
}

/* PROJECT ITEMS -------------------------------------- */

.project-items {
  width: 100%;
  grid-column: 1 / 1;

  height: 100%;

  background-color: var(--aside-color);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem 0rem;
}

.project-items::-webkit-scrollbar {
  display: none;
}

.project-item {
  position: relative;
  width: 100%;
  padding: 0 1rem;
}

.project-image-container {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.project-item:hover {
  cursor: pointer;
}

.project-item-hover-element {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 0.3rem;
  height: 0%;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  opacity: 0;
  background-color: var(--popup-project-name-color);
  transition: all 0.2s;
}

.project-item:hover .project-item-hover-element {
  opacity: 0.5;
  height: 40%;
}

.project-item-selected .project-item-hover-element {
  opacity: 1 !important;
  height: 80% !important;
}

.project-item-name-hover {
  opacity: 0;
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  z-index: 2;

  display: flex;
  justify-content: start;
  align-items: center;

  transform: translateY(-50%);
  font-weight: 700;

  pointer-events: none;

  height: 0rem;
  width: max-content;
  min-width: 2rem;
  border-radius: 5px;

  transition: all 0.1s;

  background-color: var(--popup-project-name-color);
}
.project-item-name-hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;

  border-right: 0.5rem solid var(--popup-project-name-color);
}
.project-item-name-hover p {
  font-family: inherit;
  padding: 1rem;
}

.project-item:hover .project-item-name-hover {
  height: 3rem;
  opacity: 1;
}

.project-item:hover .project-image-container,
.project-item-selected .project-image-container {
  border-radius: 15px;
}

.project-item img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

/* CHANNEL AREA ------------------------------------------*/

.page-sidebar {
  color: var(--popup-project-name-color);
  height: 100%;
  background-color: var(--page-sidebar-color);

  padding: 0.6rem;
  overflow: hidden;
}

.page-channels {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.6rem;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}
.page-channels::-webkit-scrollbar {
  display: none;
}

.page-channel {
  display: flex;
  justify-content: start;
  align-items: center;

  width: 100%;
  height: 3.6rem;

  border-radius: 5px;
  transition: all 0.1s;
}
.page-channel:link,
.page-channel:active,
.page-channel:visited {
  text-decoration: none;
  color: inherit;
}
.page-channel:hover {
  background-color: var(--page-sidebar-color--hover);
  cursor: pointer;
}
.page-channel-selected {
  background-color: var(--page-sidebar-color--hover);

  transform: all 0.1s;
}
.channel-icon {
  height: 60%;
  opacity: 0.5;

  flex: 0 0 3.6rem;
}
.channel-name {
  font-size: 1.4rem;
  transition: opacity 0.2s;

  opacity: 0.5;
}
.page-channel-selected .channel-name {
  font-weight: 700;
  opacity: 1;
}
